# 데이터 가져오기

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('result_beauty_brand_category_0625__allsum.csv')

In [92]:
df.head()

,Unnamed: 0,코스알엑스 토너_0,코스알엑스 토너_1,더랩 바이 블랑두 패드_0,더랩 바이 블랑두 패드_1,프레쥬 토너_0,프레쥬 토너_1,스팀베이스 패드_0,스팀베이스 패드_1,더모테라피 토너_0,...,16BRAND 매거진_0,16BRAND 매거진_1,라카 팔레트_0,라카 팔레트_1,NYX 내추럴룩키트_0,NYX 내추럴룩키트_1,미샤 비즈_0,미샤 비즈_1,컨시크 팔레트_0,컨시크 팔레트_1
0,0,11.34020,46.05263,3.44827,76.76056,40.81632,11.57894,0.0,0.0,1.29589,...,0.0,0.0,50.84745,12.82051,0.0,0.0,0.0,0.0,3.71900,52.94117
1,1,15.46391,47.36842,2.15517,76.76056,0.00000,22.63157,0.0,0.0,0.00000,...,0.0,0.0,40.67796,25.64102,0.0,0.0,0.0,0.0,5.78512,76.47058
2,2,55.67010,36.84210,0.00000,100.00000,0.00000,15.26315,0.0,0.0,1.07991,...,0.0,0.0,57.62711,11.53846,0.0,0.0,0.0,0.0,6.61157,35.29411
3,3,23.71134,31.57894,0.00000,95.07042,91.83673,9.47368,0.0,0.0,0.64794,...,0.0,0.0,38.98305,15.38461,0.0,0.0,0.0,0.0,4.95867,0.00000
4,4,10.30927,38.15789,0.00000,64.08450,12.24489,19.47368,0.0,0.0,0.75593,...,0.0,0.0,47.45762,14.10256,0.0,0.0,0.0,0.0,5.78512,35.29411

In [93]:
df.tail()

,Unnamed: 0,코스알엑스 토너_0,코스알엑스 토너_1,더랩 바이 블랑두 패드_0,더랩 바이 블랑두 패드_1,프레쥬 토너_0,프레쥬 토너_1,스팀베이스 패드_0,스팀베이스 패드_1,더모테라피 토너_0,...,16BRAND 매거진_0,16BRAND 매거진_1,라카 팔레트_0,라카 팔레트_1,NYX 내추럴룩키트_0,NYX 내추럴룩키트_1,미샤 비즈_0,미샤 비즈_1,컨시크 팔레트_0,컨시크 팔레트_1
57,57,29.89690,25.00000,38.36206,49.29577,0.000000e+00,13.15789,0.0,0.0,15.76673,...,0.0,0.0,37.28813,17.94871,0.0,0.0,0.0,0.0,7.85123,0.00000
58,58,42.26804,14.47368,100.00000,48.59154,0.000000e+00,16.31578,0.0,0.0,15.76673,...,0.0,0.0,54.23728,23.07692,0.0,0.0,0.0,0.0,2.89256,0.00000
59,59,100.00000,51.31578,50.86206,54.92957,1.020408e+01,16.84210,0.0,0.0,14.79481,...,0.0,0.0,32.20338,37.17948,0.0,0.0,0.0,0.0,4.13223,0.00000
60,60,39.17525,39.47368,46.55172,41.54929,2.040816e+01,8.42105,0.0,0.0,14.68682,...,0.0,0.0,45.76271,16.66666,0.0,0.0,0.0,0.0,7.85123,35.29411
61,61,7007.00000,2512.00000,3511.00000,9674.00000,1.364798e+06,306.00000,39861.0,711.0,120362.00000,...,38951.0,5149.0,165583.00000,96218.00000,4116.0,5089.0,35544.0,1346.0,36481.00000,2824.00000

In [5]:
df1 = df.copy()

In [6]:
df1 = df1.T.reset_index().T

In [7]:
df1

,0,1,2,3,4,5,6,7,8,9,...,2791,2792,2793,2794,2795,2796,2797,2798,2799,2800
index,Unnamed: 0,코스알엑스 토너_0,코스알엑스 토너_1,더랩 바이 블랑두 패드_0,더랩 바이 블랑두 패드_1,프레쥬 토너_0,프레쥬 토너_1,스팀베이스 패드_0,스팀베이스 패드_1,더모테라피 토너_0,...,16BRAND 매거진_0,16BRAND 매거진_1,라카 팔레트_0,라카 팔레트_1,NYX 내추럴룩키트_0,NYX 내추럴룩키트_1,미샤 비즈_0,미샤 비즈_1,컨시크 팔레트_0,컨시크 팔레트_1
0,0,11.3402,46.0526,3.44827,76.7606,40.8163,11.5789,0,0,1.29589,...,0,0,50.8475,12.8205,0,0,0,0,3.719,52.9412
1,1,15.4639,47.3684,2.15517,76.7606,0,22.6316,0,0,0,...,0,0,40.678,25.641,0,0,0,0,5.78512,76.4706
2,2,55.6701,36.8421,0,100,0,15.2631,0,0,1.07991,...,0,0,57.6271,11.5385,0,0,0,0,6.61157,35.2941
3,3,23.7113,31.5789,0,95.0704,91.8367,9.47368,0,0,0.64794,...,0,0,38.983,15.3846,0,0,0,0,4.95867,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,57,29.8969,25,38.3621,49.2958,0,13.1579,0,0,15.7667,...,0,0,37.2881,17.9487,0,0,0,0,7.85123,0
58,58,42.268,14.4737,100,48.5915,0,16.3158,0,0,15.7667,...,0,0,54.2373,23.0769,0,0,0,0,2.89256,0
59,59,100,51.3158,50.8621,54.9296,10.2041,16.8421,0,0,14.7948,...,0,0,32.2034,37.1795,0,0,0,0,4.13223,0
60,60,39.1752,39.4737,46.5517,41.5493,20.4082,8.42105,0,0,14.6868,...,0,0,45.7627,16.6667,0,0,0,0,7.85123,35.2941
61,61,7007,2512,3511,9674,1.3648e+06,306,39861,711,120362,...,38951,5149,165583,96218,4116,5089,35544,1346,36481,2824

In [8]:
import pymysql

In [9]:
product = []
a = -30
for i in range(0,len(df[df.columns[0]])-1):
    b = a+i
    if b < 0:
        product.append('D'+str(a+i))
    elif b == 0:     
        product.append('D-day')
    else:
        product.append('D+'+str(a+i))
product

['D-30',
 'D-29',
 'D-28',
 'D-27',
 'D-26',
 'D-25',
 'D-24',
 'D-23',
 'D-22',
 'D-21',
 'D-20',
 'D-19',
 'D-18',
 'D-17',
 'D-16',
 'D-15',
 'D-14',
 'D-13',
 'D-12',
 'D-11',
 'D-10',
 'D-9',
 'D-8',
 'D-7',
 'D-6',
 'D-5',
 'D-4',
 'D-3',
 'D-2',
 'D-1',
 'D-day',
 'D+1',
 'D+2',
 'D+3',
 'D+4',
 'D+5',
 'D+6',
 'D+7',
 'D+8',
 'D+9',
 'D+10',
 'D+11',
 'D+12',
 'D+13',
 'D+14',
 'D+15',
 'D+16',
 'D+17',
 'D+18',
 'D+19',
 'D+20',
 'D+21',
 'D+22',
 'D+23',
 'D+24',
 'D+25',
 'D+26',
 'D+27',
 'D+28',
 'D+29',
 'D+30']

In [10]:
conn = pymysql.connect(host = 'teamproject.cq3n19tmwx8i.us-east-2.rds.amazonaws.com',user='bigdb',password='bigdb1234', \
                      db='youtube',charset='utf8')

In [11]:
cur = conn.cursor(pymysql.cursors.DictCursor)

In [13]:
sql = "CREATE TABLE `brand_category` (\
    `name` varchar(500) NOT NULL,\
    PRIMARY KEY (`name`)\
) ENGINE=InnoDB DEFAULT CHARSET=utf8;"
cur.execute(sql)
conn.commit()

In [14]:
cur.close()
conn.close()

In [15]:
conn = pymysql.connect(host = 'teamproject.cq3n19tmwx8i.us-east-2.rds.amazonaws.com',user='bigdb',password='bigdb1234', \
                      db='youtube',charset='utf8')

In [16]:
cur = conn.cursor(pymysql.cursors.DictCursor)

In [17]:
for i in product:
    sql = "ALTER TABLE `brand_category` ADD COLUMN `"+i+"` FLOAT NOT NULL DEFAULT 0 "
    cur.execute(sql)
    conn.commit()

In [18]:
# 조회수 컬럼 추가
sql = "ALTER TABLE `brand_category` ADD COLUMN veiw_count FLOAT NOT NULL DEFAULT 0 "
cur.execute(sql)
conn.commit()

In [19]:
cur.close()
conn.close()

In [20]:
b = []
for i in range(1,len(df1.columns)):
    b.append(tuple(df1[i]))

In [21]:
conn = pymysql.connect(host = 'teamproject.cq3n19tmwx8i.us-east-2.rds.amazonaws.com',user='bigdb',password='bigdb1234', \
                      db='youtube',charset='utf8')

In [22]:
cur = conn.cursor(pymysql.cursors.DictCursor)

In [23]:
sql = "insert into brand_category values ("+("%s, "*62+"%s")+")"
cur.executemany(sql, b)
conn.commit()

In [24]:
cur.close()
conn.close()